NEXT_PUBLIC_SUPABASE_URL= https://jbmspjsdeusvdhpnnvon.supabase.co
 
NEXT_PUBLIC_SUPABASE_ANON_KEY= sb_publishable_Ig30So3MnvadUqCDrmoWfA_215LQpc_

SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpibXNwanNkZXVzdmRocG5udm9uIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDE0MjYyOSwiZXhwIjoyMDk1NzE4NjI5fQ.-ds_euqcCrr3Ajmxa_6XLH6DqVhQpd885KqYgNOQK-s